.register {
  display: flex;
}
.register .imgBox {
  width: 50%;
  height: 90vh;
}

.register .contentBox {
  display: flex;
  height: 90vh;
  align-items: center;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.register .contentBox .formBox {
  width: 50%;
}

.register .contentBox .formBox h2 {
  color: rgb(0, 0, 0);
  font-weight: 600;
  font-size: 1.5em;
  margin-bottom: 20px;
  border-bottom: 4px solid #219ebc;
  display: inline-block;
  letter-spacing: 1px;
}

.register .contentBox .formBox .inputBox {
  margin-bottom: 10px;
}

.register .contentBox .formBox .inputBox span {
  margin-bottom: 5px;
  display: inline-block;
  color: rgb(0, 0, 0);
  font-weight: 300;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
}

.register .contentBox .formBox .inputBox input {
  width: 100%;
  padding: 10px 20px;
  outline: none;
  font-weight: 400;
  border: 1px solid rgb(0, 0, 0);
  font-size: 16px;
  letter-spacing: 1px;
  color: rgb(0, 0, 0);
  background-color: transparent;
  border-radius: 30px;
}

.register .contentBox .formBox .inputBox input[type="submit"] {
  background-color: #219ebc;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 800;
  cursor: pointer;
  margin-top: 50px;
}

.register .contentBox .formBox .inputBox p a {
  color: #219ebc;
  font-size: 15px;
}
