/* .listingitem li{
  background-color: rgb(255 255 255);
  display: flex;
  justify-content: space-between;
  align-items: center;




  border-radius:  6px;
  overflow: hidden;

  transition-duration: 150ms;
} */