.location .box {
  position: relative;
  border-radius: 5px;
}
.location img {
  border-radius: 5px;
}
.location .overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 250px;
  width: 100%;
  color: #fff;
  z-index: 222;
}
.location h5 {
  font-size: 24px;
  font-weight: bold;
  
}
.location label {
  color: #ffffff;
  margin-right: 20px;
  font-weight: bold;
  opacity: 0.8;
}
@media screen and (max-width: 800px) {
  .location .overlay::after {
    width: 280px;
    height: 170px;
  }
}