.sort {
  background-image: url("../.../../../../public/images/banner0.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 90vh;
  width: 100%;
}
.sort .container {
  padding-top: 15%;
}

.sort select {
  width: 130px;
}

.sort form {
  background-color: #ffffff;
  border-radius: 5px;
  margin-top: 50px;
  padding: 10px;
}
form select {
  margin-left: 20px;
  padding: 10px;
  width: 100%;
  border: 1px solid rgba(128, 128, 128, 0.2);
  margin-top: 5px;
  border-radius: 5px;
}
form span {
  margin-left: 20px;
  font-size: 17px;
  color: grey;
  justify-content: center;
}

form .box {
  padding: 15px;
  border-right: 1px solid rgba(128, 128, 128, 0.2);
}
form .box1 {
  padding: 15px;
  margin-left: 50px;
}

@media screen and (max-width: 800px) {
  .hero .container {
    padding-top: 30%;
  }
  form {
    display: flex;
    flex-wrap: wrap;
  }
  form .box {
    border-left: none;
  }
  form input {
    width: 100%;
  }
}

.search .container .box .Search_box input {
  width: 100%;
  background: #fff;
  border: 1px solid rgb(2, 2, 2);
  outline: none;
  padding: 8px 10px;
}
