.fillter {
  background-image: url("../.../../../../public/images/banner0.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 90vh;
  width: 100%;
}
.search .container {
  padding-top: 15%;
}

form {
  background-color: #110202;
  border-radius: 5px;
  margin-top: 50px;
  padding: 0 20px;
}
form input {
  padding: 10px;
  width: 100%;
  border: 1px solid rgba(128, 128, 128, 0.2);
  margin-top: 5px;
  border-radius: 5px;
}
form span {
  font-size: 14px;
  color: grey;
  justify-content: center;
}

form .box {
  padding: 15px;
  border-right: 1px solid rgba(128, 128, 128, 0.2);
}

.filter {
  padding: 8px 20px;
  border: 1px solid rgb(10, 32, 77);
  cursor: pointer;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: #000000;
}

@media screen and (max-width: 800px) {
  .hero .container {
    padding-top: 30%;
  }
  form {
    display: flex;
    flex-wrap: wrap;
  }
  form .box {
    border-left: none;
  }
  form input {
    width: 100%;
  }
}

.search .container .box .Search_box input {
  width: 100%;
  background: #fff;
  border: 1px solid rgb(2, 2, 2);
  outline: none;
  padding: 8px 10px;
}
