.forgotpassword {
  display: flex;
}
.forgotpassword .imgBox {
  width: 50%;
  height: 90vh;
}

.forgotpassword .contentBox {
  display: flex;
  align-items: center;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.forgotpassword .contentBox .formBox {
  width: 50%;
  margin-top: 70px;
}

.forgotpassword .contentBox .formBox h2 {
  color: rgb(0, 0, 0);
  font-weight: 600;
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 20px;
  border-bottom: 4px solid #219ebc;
  display: inline-block;
  letter-spacing: 1px;
}

.forgotpassword .contentBox .formBox .inputBox {
  margin-bottom: 10px;
}

.forgotpassword .contentBox .formBox .inputBox span {
  margin-bottom: 5px;
  display: inline-block;
  color: rgb(0, 0, 0);
  font-weight: 300;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
}

.forgotpassword .contentBox .formBox .inputBox input {
  width: 100%;
  padding: 10px 20px;
  outline: none;
  font-weight: 400;
  border: 1px solid rgb(0, 0, 0);
  font-size: 16px;
  letter-spacing: 1px;
  color: rgb(0, 0, 0);
  background-color: transparent;
  border-radius: 30px;
}

.forgotpassword .contentBox .formBox .inputBox input[type="submit"] {
  background-color: #219ebc;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 800;
  cursor: pointer;
}

.forgotpassword .contentBox .formBox .remember {
  margin-bottom: 10px;
  color: #fff;
  font-weight: 400;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.forgotpassword .contentBox .formBox .inputBox p {
  color: rgb(0, 0, 0);
}

.forgotpassword .contentBox .formBox .inputBox p a {
  color: #219ebc;
  font-size: 15;
}

.forgotpassword .contentBox .formBox button {
  width: 100%;
  outline: none;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
  background-color: #219ebc;
  border-radius: 30px;
  transition: all 0.4s;
}
