.contact {
  display: flex;
}
.contact .inforBox {
  width: 50%;
  height: 90vh;
}

.contact .contentBox {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: center;
  margin-left: 10%;
}
.bg-image {
  background-image: url("https://i.pinimg.com/564x/3d/62/5e/3d625e6413a880048334807a9ffb7a79.jpg");
}

.contact .contentBox .formBox {
  width: 100%;
  margin-bottom: 50px;
}

.contact .contentBox .formBox h2 {
  color: rgb(0, 0, 0);
  font-weight: 600;
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 20px;
  border-bottom: 4px solid #219ebc;
  display: inline-block;
  letter-spacing: 1px;
}

.contact .contentBox .formBox .inputBox {
  margin-bottom: 10px;
}

.contact .contentBox .formBox .inputBox span {
  margin-bottom: 5px;
  display: inline-block;
  color: rgb(0, 0, 0);
  font-weight: 300;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
}

.contact .contentBox .formBox .inputBox input {
  width: 100%;
  padding: 10px 20px;
  outline: none;
  font-weight: 400;
  border: 1px solid rgb(0, 0, 0);
  font-size: 16px;
  letter-spacing: 1px;
  color: rgb(0, 0, 0);
  background-color: transparent;
  border-radius: 30px;
}
.contact .contentBox .formBox textarea {
  width: 100%;
  padding: 10px 20px;
  outline: none;
  font-weight: 400;
  border: 1px solid rgb(0, 0, 0);
  font-size: 16px;
  letter-spacing: 1px;
  color: rgb(0, 0, 0);
  background-color: transparent;
  border-radius: 30px;
}

.contact .contentBox .formBox .inputBox input[type="submit"] {
  background-color: #219ebc;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 800;
  cursor: pointer;
}
.contact .contentBox .formBox button {
  width: 100%;
  outline: none;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
  background-color: #219ebc;
  border-radius: 30px;
  transition: all 0.4s;
}
